html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    flex-shrink: 0; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #fff;
    color: #333;
    padding: 10px;
}

a {
    text-decoration: no-underline;
}

nav, nav .dropdown {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    position: initial;
    z-index: 100;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #808080;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #6ac5fe;
    position: relative;
    z-index: 1;
}

section {
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
}

.wider-column {
    width: 80%;
}

.wider-column2 {
    width: 1050px;
}

section {
    background-color: #6ac5fe;
    padding: 3px;
}

a {
    text-decoration: none;
    color: black;
}

a:active, a:focus {
    color: black;
}


.dropdown, .dropdown button {
    position: relative;
    z-index: 1;
}


.dropdown-content, button .dropdown-content {
    top: 100%; 
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px; 
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    margin-right: 20px;
    color: #808080;
    font-weight: bold;
    transition: color 0.3s;
}

.dropdown-content a:hover {
    color: #6ac5fe;
    position: relative;
    transition: color 0.3s;
}
